*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    background-image: url(img/paisagem.jpg);
    background-repeat: no-repeat;        
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    background-attachment: fixed;    
    background-size: 100% 100%;
}

.container{
    width: 350px;        
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0% ;
    box-shadow: 1px 2px 20px #fff, 2px 6px 50px #000;
    padding: 50px 20px;    
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: auto;*/
    margin-top: 11vh;      
    text-align: center;
}

h2{
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 25px;
}

input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

.input-field{
    position: relative;
    margin-bottom: 20px;
}

label{
    position: absolute;
    top:0;
    left: 0;
    color: white;
    transform: translateY(18px);
    transition: .25s ease-in-out;
}

input:focus + label{
    transform: translateY(-14px) scale(.8);
    color:#26a96a
}

input:focus{
    box-shadow: 0 1px 0 0 #26a96a;
    border-bottom: #26a96a 1px solid;
}

.center{
    text-align: center;
}

button{
    background: transparent;
    padding: 15px 50px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    border:2px solid white;
    margin: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

button:hover{
    background: rgba(255, 0, 0, 0.459); /*rgba(0, 255, 115, 0.459);*/
}

button:active {
    box-shadow: 0 2px 0 transparent; /*#015077*/
    transform: translateY(15px);
}

div a{
    text-decoration: none;
    color: white;
    transition: .25s ease-in-out;
}

div a:hover{
    color:#26a96a;
}

input:not(:placeholder-shown){
    box-shadow: 0 1px 0 0 #26a96a;
    border-bottom: #26a96a 1px solid;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
}

input::placeholder{
    color:transparent;
}

div {
    animation-name: fade;
    animation-duration: 800ms;
}
  
@keyframes fade {
from {
    opacity: 0;
    transform: scale(0.2);
}
to {
    opacity: 1;
    transform: scale(1);
}
}

.links-uteis p{       
    margin-top: 15px;   
    /*margin-bottom: 10px;*/
}

@media screen and (max-width: 480px) {
.container{
    /*width: 100vw;
    height: 450px;     
    padding: 20px 20px;             
    //height: auto;
    margin-top: 0;*/

    border-radius: 0px; 
    width: 100vw;
    height: 100vh;     
    height: auto;
    margin-top: 0;      
    padding: 20px 20px;  
}

div {
    animation-name: none;    
  }

}

@media only screen and (min-width: 480px) and (max-width: 760px) {
.container{        
    margin-bottom: 11vh;  
}

}